* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #4f4f4f;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(1fr, auto);
    gap: 0.5em;
    grid-template-areas: 
        'img img img price'
        'img img img color'
        'img img img zip'
        'img img img qty'
        'img img img ship'
        'dtl dtl dtl dtl'
        ;
    line-height: 1.6;
    max-width: 1000px;
    margin: 5vh auto;
}

@media only screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(1fr, 5fr);
        gap: 0.2em;
        grid-template-areas: 
            'img'
            'img'
            'img'
            'img'
            'img'
            'dtl'
            'panel'
            'price'
            'color'
            'zip'
            'qty'
            'ship'
            ;
        max-width: 80vw;    
    }
  }

.img_hero {
    display: flex;
    grid-area: img;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

.img_hero .img-fluid {
    max-width: 90%;
    max-height: 550px;
}

.panel {
    min-width: 350px;
    height: auto;
    justify-content: center;
    align-items: center;
}

hr {
    border-top: rgb(180, 180, 180);
}

.product_titlecard {
    font-family: 'Rubik', sans-serif;
    grid-area: price;
}

.product_titlecard .productName {
    font-size: 24px;
    padding: 10px 0px;
}

.product_titlecard .productPrice {
    font-size: 28px;
    padding: 10px 0px 0px;
}

.color_selector {
    grid-area: color;
    align-items: center;
    margin-top: 1em;
}

.color_selector .colorSelectText {
    color: rgb(180, 180, 180);
    font-family: 'Rubik', 'sans serif';
    font-size: 13px;
    margin: 20px 0px 10px;
}

.color_selector .color_swatch_panel {
    display: flex;
}

.color_selector .color_swatch, .color_swatch:visited {
    border-radius: 50%;
    margin-right: 1vw;
    width: 3.5em;
    height: 3.5em;
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: 3px;
    opacity: 0.25;
    cursor: pointer;
    transition: ease 0.65s;
}

.color_selector .color_swatch_active {
    border-radius: 50%;
    margin-right: 1vw;
    width: 3.5em;
    height: 3.5em;
    outline: 2px solid #4f4f4f;
    outline-offset: 3px;
    opacity: 1;
    cursor: pointer;
    transition: ease 0.65s;
}

.color_selector .color_swatch:hover, .color_swatch:active {
    outline: 2px solid #4f4f4f;
    opacity: 1;
}

.color_selector .skuNumber {
    font-size: 13px;
    font-style: italic;
    color: rgb(180, 180, 180);
    height: 21px;
    margin: 20px 0px 0px 0px;
}

.zip {
    font-size: 13px;
    grid-area: zip;
    margin-top: 1em;
}

.zip p {
    margin-top: 2em;
}

.zip input {
    border-style: none none solid;
    border-width: 1px;
    margin: 1em 0 1em 1em;
}

.zip input::placeholder {
    color: rgb(180, 180, 180);
}

.zip input:hover {
    border-color: rgb(100, 100, 220);
}

.zip input:focus {
    border-color: rgb(100, 100, 220);
    outline: none;
}

.qtybtn_card {
    grid-area: qty;
    margin-top: 20px;
}

.qtybtn_card .qtybtn {
    display: flex;
}

.qtybtn_card .qtybtn .qtybtn_qty {
    display: flex;
    text-align: center;
    width: 80px;
}

.qtybtn_card .qtybtn .qtybtn_qty input {
    appearance: none;
    border: 1px solid rgb(220, 220, 220);
    text-align: center;
    width: 88px;
}

.qtybtn_card .qtybtn .qtybtn_qty input:focus {
    outline: none;
}

.qtybtn_card .qtybtn_dec, .qtybtn_inc {
    display: flex;
    color: #969696;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(220, 220, 220);
    width: 40px;
    height: 40px;
}

.qtybtn_card .addToCart, .addToCart:visited {
    background-color: rgb(100, 100, 220);
    color: aliceblue;
    cursor: pointer;
    border: none;
    font-size: 13px;
    margin-left: 5px;
    padding: 0px 45px;
    transition: ease-in .2s;
}

.qtybtn_card .addToCart:hover {
    background-color: rgb(50, 50, 110);
    
}

.qtybtn_card .disabled, .disabled:visited, .disabled:hover {
    background-color: rgb(185, 185, 185);
    color: rgb(99, 102, 105);
    cursor: pointer;
    border: none;
    font-size: 13px;
    margin-left: 5px;
    padding: 0px 45px;
}

.qtybtn_card .assembly {
    font-size: 13px;
    font-style: italic;
    padding-top: 10px;
    height: 31px;
}

.ship {
    grid-area: ship;
    margin-top: 25px;
}

.ship p {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(220, 220, 220);
    font-size: 13px;
    margin-top: 10px;
    padding: 1em;
}

.details {
    grid-area: dtl;
    font-size: 13px;
    font-family: 'Rubik', 'sans serif';
}

.details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}